*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background: cover;
    background-attachment: fixed;
    background:linear-gradient(45deg,rgba(239, 232, 223, 0.85), rgba(182, 210, 221, 0.85),rgba(222, 164, 189, 0.85),rgba(165, 129, 196, 0.85),rgba(170, 235, 152, 0.85),rgba(138, 220, 222, 0.85));
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
}

#canvas{
    position: absolute;
    z-index: 333;
}

#lab-but{
    max-width: fit-content;
    margin-left: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#crta{
    flex-direction: row;
    border: 1px rgb(127, 172, 255) solid;
    border-radius: 10px;
}

.btns{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
    border: 1px rgb(127, 172, 255) solid;
    border-radius: 10px;
    padding: 2px;
    background-color: rgba(202, 252, 255,0.2);
}

button{
    border: 1px solid rgb(127, 172, 255);
    border-radius: 5px;
    padding: 1vh;
    background-color: rgb(255, 220, 253);
    color: rgb(127, 172, 255);
    margin: 10px;
}

button:hover{
    cursor: pointer;
}

button:disabled{
    color: rgb(223,109,190);
    cursor: not-allowed;
}

@keyframes gradientAnimation {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}